/* whole page styling*/
  body {
    margin: 0px;
    background-color: #7da076;
  }

/* title and form input */

  h1, form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    /*background-color: #b7e0b2;*/
    color: white;
    border-style: double;
    background-image: url("wave-img2.png");
  }

  label {
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 20px;
    text-align: left;
    color: #31410b;
  }

  form {
    padding-top: 15px;
    /*background-color: #a2b69e;*/
    padding-bottom: 10px;
  }

  select {
    border-radius: 15px;
    border-style: groove;
    border-width: 5px;
    background-color: #e6b873;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
  }

/* Set the size of the div element that contains the map */
  #map {
    height: 400px; /* of map */
    width: 95%; /* of the web page (or flex container) */
    border-radius: 10px;
    border-color: #ffffff;
    border-style: ridge;
    border-width: 5px;
    margin-left: 5px;
  }

/* map and data*/
  .hidden { /* remove hidden display when location is chosen */
    display: none;
  }

  ul {
    text-align: left;
    color: #000000;
    padding-inline-start: 25px;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    /*background-color: #a2b69e;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: #31410b;
  }

  li {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  /* flex-box props*/
  .flex-container { /* map and data */
    display: flex;
    flex-direction: column;
  }

  .map-item {
    align-items: center;
  }

/* --- design for desktop --- */

  @media all and (min-width: 800px) {
    
    .flex-container {
      display: flex;
      flex-direction: row-reverse;
    }

    form {
      padding-left: 200px;
      padding-right: 200px;
    }

    label {
      font-size: 25px;
    }

    select {
      margin-left: 120px;
      margin-right: 120px;
      font-size: 20px;
    }

    #map {
      width: 55%;
      margin-right: 70px;
      margin-left: 10px;
    }

    ul {
      font-size: 20px;
      padding-right: 90px;
    }

  }